<% include("../layouts/header.ejs") %>

<h1>User Registration</h1>
<form action="" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Enter name" required>
    <br><br>
    <input type="text" name="email" placeholder="Enter email" required>
    <br><br>
    <input type="text" name="mobiel no" placeholder="Enter no." required>
    <br><br>
    <input type="file" name="image" required>
    <br><br>
    <input type="text" name="password" placeholder="Enter pasword" required>
    <br><br>
    <input type="submit" value="Register">
    <br><br>
</form>

<% include("../layouts/header.ejs") %>